<% if (theme.live2d.enable) { %>
<div id='live2d-waifu' class="waifu">
    <div class="waifu-tips" style="opacity:0;"></div>
    <div style="width:250px;height:400px;overflow:hidden;">
        <canvas id="live2d" width="250" height="400" class="live2d"
            style="width:250px;height:400px;opacity:0;"></canvas>
    </div>
    <div id="tools" class="waifu-tool">
        <span class="material-icons flat-box close">close</span>
        <span class="material-icons flat-box music">music_note</span>
        <span class="material-icons flat-box comment">comment</span>
    </div>
</div>
<% } %>