<% if (theme.earth.enable) { %>
<section class='m_widget earth'>
    <div class='header'>客从何处来</div>
    <div class='content'>
        <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=WO6qFSpsrUWuFJ2ZBizckVeLyIIjbxHz9H8qGUvzUVY"></script>
    </div>
</section>
<% } %>