<footer id="footer" class="clearfix">
  <div>
    站点已运行<span id="since"></span><span class="my-face">(●'◡'●)ﾉ♥</span>
  </div>
  <!-- <div>
    访问量<span id="busuanzi_value_site_pv"></span>次 访客数<span id="busuanzi_value_site_uv"></span>人
  </div> -->
</footer>