<article class="post reveal" itemscope itemprop="blogPost">
    <div class="gallery" id="gallery"></div>
</article>

<script>
    window.subData = {
        title: '相册',
        tools: true
    }
</script>